<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.LcGuardianInfoMapper">
    
    <resultMap type="LcGuardianInfo" id="LcGuardianInfoResult">
        <result property="guardianId"    column="guardian_id"    />
        <result property="name"    column="name"    />
        <result property="relationship"    column="relationship"    />
        <result property="phone"    column="phone"    />
        <result property="address"    column="address"    />
        <result property="workInfo"    column="work_info"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectLcGuardianInfoVo">
        select guardian_id, name, relationship, phone, address, work_info, create_by, create_time, update_by, update_time, remark from lc_guardian_info
    </sql>

    <select id="selectLcGuardianInfoList" parameterType="LcGuardianInfo" resultMap="LcGuardianInfoResult">
        <include refid="selectLcGuardianInfoVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>
    
    <select id="selectLcGuardianInfoByGuardianId" parameterType="Long" resultMap="LcGuardianInfoResult">
        <include refid="selectLcGuardianInfoVo"/>
        where guardian_id = #{guardianId}
    </select>

    <insert id="insertLcGuardianInfo" parameterType="LcGuardianInfo" useGeneratedKeys="true" keyProperty="guardianId">
        insert into lc_guardian_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="relationship != null">relationship,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="address != null">address,</if>
            <if test="workInfo != null">work_info,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="relationship != null">#{relationship},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="address != null">#{address},</if>
            <if test="workInfo != null">#{workInfo},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateLcGuardianInfo" parameterType="LcGuardianInfo">
        update lc_guardian_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="relationship != null">relationship = #{relationship},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="address != null">address = #{address},</if>
            <if test="workInfo != null">work_info = #{workInfo},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where guardian_id = #{guardianId}
    </update>

    <delete id="deleteLcGuardianInfoByGuardianId" parameterType="Long">
        delete from lc_guardian_info where guardian_id = #{guardianId}
    </delete>

    <delete id="deleteLcGuardianInfoByGuardianIds" parameterType="String">
        delete from lc_guardian_info where guardian_id in 
        <foreach item="guardianId" collection="array" open="(" separator="," close=")">
            #{guardianId}
        </foreach>
    </delete>
</mapper>